.q-details {
  --border-width: 1px;
  --border-color: var(--q-color-neutral-200);
  --border-radius: var(--q-border-radius-medium);
  --background-color: var(--q-color-neutral-50);

  border: solid var(--border-width) var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  overflow-anchor: none;
}

.q-details--disabled {
  opacity: 0.5;
}

.q-details__header {
  display: flex;
  align-items: center;
  border-radius: inherit;
  padding: var(--q-spacing-medium);
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.q-details__header::-webkit-details-marker {
  display: none;
}

.q-details__header:focus {
  outline: none;
}

.q-details__header:focus-visible {
  outline: var(--q-focus-ring);
  outline-offset: calc(1px + var(--q-focus-ring-offset));
}

.q-details--disabled .q-details__header {
  cursor: not-allowed;
}

.q-details--disabled .q-details__header:focus-visible {
  outline: none;
  box-shadow: none;
}

.q-details__summary {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.q-details__summary-icon {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  transition: var(--q-transition-medium) rotate ease;
}

.q-details--open .q-details__summary-icon {
  rotate: 90deg;
}

.q-details--open.q-details--rtl .q-details__summary-icon {
  rotate: -90deg;
}

.q-details--open slot[name='expand-icon'],
.q-details:not(.q-details--open) slot[name='collapse-icon'] {
  display: none;
}

.q-details__body {
  overflow: hidden;
}

.q-details__content {
  display: block;
  padding: var(--q-spacing-medium);
}
