.q-menu-label {
  display: inline-block;
  font-family: var(--q-font-sans);
  font-size: var(--q-font-size-small);
  font-weight: var(--q-font-weight-semibold);
  line-height: var(--q-line-height-normal);
  letter-spacing: var(--q-letter-spacing-normal);
  color: var(--q-color-neutral-500);
  padding: var(--q-spacing-2x-small) var(--q-spacing-x-large);
  user-select: none;
  -webkit-user-select: none;
}
