.q-divider {
  --color: var(--q-panel-border-color);
  --width: var(--q-panel-border-width);
  --spacing: var(--q-spacing-medium);

  &--horizontal {
    display: block;
    border-top: solid var(--width) var(--color);
    margin: var(--spacing) 0;
  }

  &--vertical {
    display: inline-block;
    height: 100%;
    border-left: solid var(--width) var(--color);
    margin: 0 var(--spacing);
  }
}
