.q-alert {
  --border-width: var(--q-panel-border-width);
  --border-color: var(--q-panel-border-color);
  --border-radius: var(--q-border-radius-medium);
  --padding: var(--q-spacing-medium);

  position: relative;
  display: flex;
  align-items: stretch;
  background-color: var(--q-panel-background-color);
  border: solid var(--border-width) var(--border-color);
  border-top-width: calc(var(--border-width) * 3);
  border-radius: var(--border-radius);
  font-family: var(--q-font-sans);
  font-size: var(--q-font-size-small);
  font-weight: var(--q-font-weight-normal);
  line-height: 1.6;
  color: var(--q-color-neutral-700);
  margin: inherit;
}

.q-alert--pill {
  width: fit-content;
  --border-color: unset;
  --border-width: 0;
  --border-radius: 50px;
  --padding: var(--q-spacing-medium) var(--q-spacing-large);
}

.q-alert--pill.q-alert--warning {
  color: var(--q-color-neutral-0);
  background-color: var(--q-color-warning-500);
}

.q-alert--pill.q-alert--success {
  font-weight: 500;
  color: var(--q-color-success-500);
  background-color: var(--q-color-success-50);
}

.q-alert--pill.q-alert--danger {
  background-color: var(--q-color-danger-500);
}

.q-alert:not(.q-alert--has-icon) .q-alert__icon,
.q-alert:not(.q-alert--closable) .q-alert__close-button {
  display: none;
}

.q-alert__icon {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  font-size: var(--q-font-size-large);
  padding-inline-start: var(--q-spacing-large);
}

.q-alert--primary {
  border-top-color: var(--q-color-primary-600);
}

.q-alert--primary .q-alert__icon {
  color: var(--q-color-primary-600);
}

.q-alert--success {
  border-top-color: var(--q-color-success-600);
}

.q-alert--success .q-alert__icon {
  color: var(--q-color-success-600);
}

.q-alert--neutral {
  border-top-color: var(--q-color-neutral-600);
}

.q-alert--neutral .q-alert__icon {
  color: var(--q-color-neutral-600);
}

.q-alert--warning {
  border-top-color: var(--q-color-warning-600);
}

.q-alert--warning .q-alert__icon {
  color: var(--q-color-warning-600);
}

.q-alert--danger {
  border-top-color: var(--q-color-danger-600);
}

.q-alert--danger .q-alert__icon {
  color: var(--q-color-danger-600);
}

.q-alert__message {
  flex: 1 1 auto;
  display: block;
  padding: var(--padding);
  overflow: hidden;
}

.q-alert__close-button {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  font-size: var(--q-font-size-medium);
  padding-inline-end: var(--q-spacing-medium);
}
